.StudentSpinner{
    font-size: 30vh;
    position: relative;
    top:30vh;
}

.FeeStatusList{
    background-color: #ff9900;
    width:80%;
    border-radius: 50px;
    font-weight: bold;
    margin: auto;
    padding: 3vh;
    margin-bottom: 15px;
}

.UpdateSelect{
    background-color: aquamarine;
    padding:10px;
}

.updateFeesBox{
    background-color: #ff9900;
    box-sizing: border-box;
    position: absolute;
    top:30vh;
    height: 30vh;
    width: 40%;
    margin-left: 5%;
    z-index: 10000;
    padding-top: 20px;
}

@media(max-width:800px){
    .updateFeesBox{
        background-color: #ff9900;
        box-sizing: border-box;
        position: absolute;
        top:160px;
        height: 180px;
        width: 80%;
        margin-left: 10%;
        z-index: 10000;
    }
}
