body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.common-form-display {
  width: 80%;
  border: 2px solid #ff9900;
  padding: 15px;
  text-align: left;
  margin: auto;
  margin-top: 20px;
}
.common-form-keys {
  font-weight: bold;
  margin-right: 10px;
}
.common-form-buttons {
  height: 30px;
  line-height: 30px;
  width: fit-content;
  padding: 0px 10px;
  min-width: 60px;
  background-color: #09c3ba;
  transition: 0.4s ease;
  font-weight: 500;
  cursor: pointer;
  border: none;
  font-size: 1.2rem;
}
.common-form-buttons:hover{
  background-color: #08aaa2;
}
.common-form-buttons:disabled{
  cursor: not-allowed;
}

.common-input {
  font-size: 1rem;
  padding: 3px 10px;
  outline: none;
}
.common-input:focus{
  border-bottom: 3px solid #08aaa2;
}
